<li class="card_item status-{{status}}" data-id="{{id}}">
    <p class="card_text">{{title}}</p>
    <div class="buttons">
        <button class="done" type="submit" data-done="done">Done</button>
        <button class="delete" type="submit" data-delete="delete">Delete</button>
    </div>
</li>