<div>
    <form class="form" action="">
        <input class="search form-styles" type="search" placeholder="enter new task..." />
        <button class="submit form-styles" type="submit">Add</button>
        <div class="radio_inputs">
            <label><input type="radio" name="raz" data-import="high" />high</label>
            <label><input type="radio" name="raz" data-import="moderate" />moderate</label>
            <label><input type="radio" name="raz" data-import="low" />low</label>
        </div>
    </form>

</div>