html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  /* padding: 20px; */
  margin: 0;
}

.registration {
  margin: 20px auto;
  padding: 10px;
  width: 500px;
  min-height: 300px;
  border: 1px solid rgba(27, 221, 189, 0.1);
  border-radius: 8px;
  background-color: rgba(146, 199, 255, 0.3);
}

.avatar {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.avatar-img {
  width: 200px;
  max-height: 200px;
  object-fit: cover;
}

.userNameForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 300px;
}

.userName {
  height: 40px;
  border-radius: 5px;
  border-color: rgb(104, 144, 197);
  font-size: 15px;
  color: rgb(97, 95, 95);
  font-weight: bold;
  padding: 8px;
  background-color: white;
}

.fileIcon {
  margin-right: 5px;
  margin-bottom: -2px;
  fill: white;
}

.userFileLabel {
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-align: center;
  width: 250px;
  height: 47px;
  margin: 0 auto;
  background-color: #3e51d3;
  border-radius: 4px;
  padding-top: 13px;
  cursor: pointer;
}

.userFileLabel:hover {
  background-color: white;
  color: #3e51d3;
}

.userFileLabel:hover .fileIcon {
  fill: #3e51d3;
}

.file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.buttonName {
  height: 47px;
  border-radius: 5px;
  border: 0;
  background-color: #3e51d3;
  font-size: 15px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.buttonName:hover {
  background-color: white;
  color: #3e51d3;
}

.chatSection {
  display: none;
  justify-content: space-between;
  min-height: 550px;
  position: relative;
}

.stickyHeader {
  position: absolute;
  width: 100%;
  height: 30px;
  background-color: rgba(146, 199, 255, 0.8);
  padding: 4px;
  text-align: center;
  font-family: 'Dancing Script';
  font-size: 20px;
}

.changeData {
  position: absolute;
  left: 10px;
  top: 6px;
  border: none;
  border-radius: 7px;
  background-color: #3e51d3;
  color: white;
  cursor: pointer;
}

.openMapBtn {
  display: none;
}

.changeData:hover {
  background-color: white;
  color: #3e51d3;
}

.chat-conteiner {
  padding: 10px;
  border: 1px solid rgba(27, 221, 189, 0.1);
  border-radius: 8px;
  background-color: rgba(146, 199, 255, 0.2);
  width: 50%;
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 50px;
}

.chat {
  margin-top: 0;
  width: 100%;
  list-style: none;
  height: 500px;
  display: block;
  flex-direction: column;
  padding: 0;
  overflow-y: scroll;
}

.chat::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
.chat::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.visible {
  display: flex;
}

.invisible {
  display: none;
}

.message {
  display: flex;
  /* flex-direction: column; */
  width: 40%;
  margin: 0;
  margin-bottom: 10px;
}

.message .message-body {
  background-color: rgba(137, 159, 160, 0.5);
}

.message-body {
  display: block;
  width: 100%;
  border-radius: 7px;
  padding: 5px;
  padding-top: 2px;
}

.image {
  display: block;
  width: 15%;
  height: 15%;
  margin-right: 10px;
  /* background-color: white; */
}

.myUser .image {
  margin-left: 10px;
}

.user-name {
  font-size: 13px;
  font-weight: bold;
  color: rgb(70, 75, 75);
}

.myUser {
  margin-left: 60%;
  flex-direction: row-reverse;
  /* background-color: crimson; */
}

.myUser .message-body {
  /* margin-left: 60%; */
  background-color: rgba(97, 165, 228, 0.5);
}

.message-text {
  font-size: 15px;
  word-wrap: break-word;
}

.message-time {
  text-align: right;
  font-size: 10px;
  color: rgb(103, 109, 109);
}

.inputForm {
  width: 100%;
  display: flex;
}

.inputField {
  width: 80%;
  height: 33px;
  padding: 3px;
  border: 2px solid #3e51d3;
  border-radius: 7px;
  margin-right: 5%;
  resize: none;
  overflow: hidden;
  outline: none;
}

.buttonSend {
  width: 17%;
  height: 33px;
  border: none;
  border-radius: 7px;
  background-color: #3e51d3;
  color: white;
  font-weight: bold;
  font-size: 15px;
  position: relative;
  cursor: pointer;
}

.buttonSend:hover {
  background-color: white;
  color: #3e51d3;
  border: 2px solid #3e51d3;
}

.svg-icon {
  width: 18%;
  position: absolute;
  right: 10%;
  top: 19%;
  fill: white;
}

.buttonSend:hover .svg-icon {
  fill: #3e51d3;
}

.map-conteiner {
  width: 40%;
  margin-top: 50px;
  margin-right: 20px;
}

#map {
  width: 100%;
  height: 600px;
}

@media (min-width: 375px) and (max-width: 767px) {
  .registration {
    width: 340px;
    min-height: 570px;
  }

  .userNameForm {
    min-height: 370px;
  }

  .avatar {
    width: 150px;
    height: 150px;
  }

  .avatar-img {
    width: 150px;
    height: 150px;
  }

  .chatSection {
    flex-direction: column;
    background-color: rgba(146, 199, 255, 0.2);
  }

  .chat-conteiner {
    border: none;
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    background-color: rgba(146, 199, 255, 0);
  }

  .chat {
    height: 88%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 10px;
  }

  .chat::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
  }

  .chat::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }

  .map-conteiner {
    display: none;
    width: 100%;
    height: 200px;
    margin: 0 auto;
  }

  #map {
    width: 100%;
    height: 200px;
  }

  .stickyHeader {
    height: 35px;
    text-align: right;
    padding-right: 30px;
    position: unset;
  }

  .changeData {
    left: 7px;
  }

  .openMapBtn {
    display: block;
    position: absolute;
    left: 173px;
    top: 6px;
    border: none;
    border-radius: 7px;
    background-color: #3e51d3;
    color: white;
    cursor: pointer;
    outline: none;
  }

  .openedMapBtn {
    background-color: red;
  }

  .inputForm {
    height: 12%;
    display: flex;
    flex-direction: column;
  }

  .inputField {
    width: 100%;
    margin-bottom: 2px;
    font-size: 16px;
  }

  .buttonSend {
    width: 100%;
    font-size: 0;
  }

  .message {
    width: 70%;
  }

  .myUser {
    width: 70%;
    margin-left: 34%;
  }

  .svg-icon {
    position: unset;
    width: 25px;
  }

  .visibleBlock {
    display: block;
  }
}
